@font-face {
    font-family:"inter";
    src: url("fonts/Inter_Light.ttf");
}
    
body{
    font-family:"inter";

    padding: 180px;
    padding-top: 100px;

    background-color: rgb(244, 244, 244);

}

h1,h2{
    font-size: 16px;
    font-weight: 300;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25;

}

span {
  font-size: 16px;
  font-weight: 300;

}

#heading {
            display: flex;
            flex-direction: row;
            height: 200px;
            justify-content: space-between;
}

#parent > div{
    display: grid;
    gap: 100px;
    grid-template-columns: 2fr 2fr 2fr .75fr;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: .8px solid rgb(0, 0, 0);
    
}

.place > div {
    display: flex;
    flex-direction: column;
}


.place img {
    width: 100%;
}

a {
    color:black
}

a:hover {
  background-color: rgb(255, 255, 255);
}

img {
  border-radius: 10px;
}

p{
    white-space: pre;
    white-space: pre-wrap;
}
